.file-suffix {
  opacity: .75;
  user-select: none;
}
.preview-canvas {
  background-color: black;
  width: 100%;
  max-width: 800px;
  height: auto;
}
.fps-canvas {
  width: 100%;
  max-width: 800px;
  height: auto;
}
.rotated-icon-button > svg {
  transform: rotateZ(var(--rotation));
}
.inset-focus-ring:focus {
  outline: none;
  /* Used to directly override the focus ring added by Chakra */
  box-shadow: 0 0 0 3px rgba(66,153,225,0.6) inset !important;
}

:root {
  --scrollbar-background: #1a202c;
  --thumb-background: #44337A;
}

::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-background) var(--scrollbar-background);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumb-background) ;
}